version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80"
    depends_on:
      - api
    environment:
      - PORT=80

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000"
    environment:
      - PORT=5000